<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dashboard- Ozone Platform Application</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!--[if IE 7]>
        <link rel="stylesheet" href="styles/font-awesome.css">
    <![endif]-->
    <link rel="stylesheet" href="libs/css/jquery-splitter.css">
    <link rel="stylesheet" href="libs/css/bootstrap-editable.css">
    <link rel="stylesheet" href="libs/development-bundle/themes/base/minified/jquery-ui.min.css">
    <link rel="stylesheet" href="themes/a_default.theme/css/a_default.css">
</head>
<body>
    <noscript>This application requires javascript to be enabled.</noscript>
    
    <div id="mask" class="hide"></div>

    <script type="text/javascript">
        ;(function() {
            if (!window.console) {
                window.console = {};
            }
            // all console methods
            var m = [
                "log", "info", "warn", "error", "debug", "trace", "dir", "group",
                "groupCollapsed", "groupEnd", "time", "timeEnd", "profile", "profileEnd",
                "dirxml", "assert", "count", "markTimeline", "timeStamp", "clear"
            ];
            // define undefined methods as noops to prevent errors
            for (var i = 0; i < m.length; i++) {
                if (!window.console[m[i]]) {
                    window.console[m[i]] = function() {};
                }    
            }
        })();
    </script>
    <script src="libs/js/json2.js"></script>
    <script src="js/serverConfig.js"></script>
    <script data-main="js/main" src="js/production.js"></script>
    <script type="text/template" id="dashboard-template">
        <h1><%- name %></h1>
        <%- layoutConfig %>
    </script>
</body>
</html>
