/*
 * Copyright 2013 Next Century Corporation 
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

$headerLineHeight: 2.5em;

.header {
    @include ctb-gradient-vertical($widgetInactiveBackground, darken($widgetInactiveBackground, 5%));
    @include ctb-text-overflow();
    line-height: $headerLineHeight;

    position: relative;
    //white-space: nowrap;

    span {
        padding: 0 0 0 0.5em;
        color: $widgetInactiveColor;
        overflow: hidden;
        cursor: default;
        text-overflow: ellipsis;
    }

    a {
        cursor: pointer;
    }
    .actions {
        margin: 0;
        position: absolute;
        top: 0px;
        right: 0px;
        white-space: nowrap;

        & > li {
            float: left;
            line-height: $baseFontSize * 2.5;
            height: $baseFontSize * 2.5;

            &.close-li {
                padding: 0 0.5em 0 0.5em;
                background: darken($widgetInactiveBackground, 10%);
            }
        }

        > .restore, > .expand {
            display: none;
        }
        
        & > li > a {
            text-decoration: none;
            color: $widgetInactiveColor;

            &:hover {
                background: transparent;
                color: $widgetInactiveColorHover;
            }
        }
    }
}

.active .header, .active.header {
    @include ctb-gradient-vertical($widgetActiveBackground, darken($widgetActiveBackground, 5%));

    span {
        color: $widgetActiveColor;
    }
    .actions > li > a {
        color: $widgetActiveColor;

        &:hover {
            color: $widgetActiveColorHover;
        }
    }
}

.minimized .header, .minimized.header {
    > .actions > .minimize {
        display: none;
    }

    > .actions > .restore {
        display: inline-block;
    }
}

.maximized .header, .maximized.header {
    > .actions > .maximize {
        display: none;
    }

    > .actions > .restore {
        display: inline-block;
    }
}

.collapsed .header, .collapsed.header {
    > .actions > .collapse {
        display: none;
    }

    > .actions > .expand {
        display: inline-block;
    }
}

.window .header {
    cursor: move;
}
