/*
 * Copyright 2013 Next Century Corporation 
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

$widgetInactiveBackground: white !default;
$widgetInactiveColor: #777 !default;
$widgetInactiveColorHover: $grayDark !default;
$widgetInactiveBorder: 1px solid #ccc !default;

$widgetActiveBackground: $linkColor !default;
$widgetActiveColor: white !default;
$widgetActiveColorHover: $grayDark !default;
$widgetActiveBorder: 1px solid #ccc !default;

.widget {
    border: $widgetInactiveBorder;

    .show-all-tools-li  {
        position: relative;
        background: darken($widgetInactiveBackground, 10%);
        padding: 0 1em;

        .dropdown-menu {
            right: 0px;
            left: auto;
            margin: 0;
            padding: 0;

            i {
                margin-right: 1em;
            }
        }
    }

    @include box-shadow(2px 2px 8px 2px #ccc);

    .show-all-tools-btn {
        margin-bottom: 0px; // IE7
    }

    &.collapsed {
        height: $headerLineHeight !important;
    }
}



.widget .body {
    border: 0px;
    background: $baseColor;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    margin-top: $headerLineHeight;
    z-index: -1;

    .widgetframe {
        width: 100%;
        height:100%;
    }
}

