/*
 * Copyright 2013 Next Century Corporation 
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.widget {

    &.active{
        border: $widgetActiveBorder;
        @include box-shadow(2px 2px 2em #ccc);

        .show-all-tools-li {
            background: darken($widgetActiveBackground, 10%);
        }
    }

    &.maximized {
        width: 100% !important;
        height: 100% !important;

        top: 0px !important;
        left: 0px !important;
    }

    &.minimized {
        top: -10000px !important;
        left: -10000px !important;
    }

    &.window {
        position: absolute;

        .header {
            cursor: move;
        }
    }
}
