<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Ozone Widget Framework</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!--[if IE 7]>
        <link rel="stylesheet" href="styles/font-awesome.css">
    <![endif]-->
    <link rel="stylesheet" href="libs/css/jquery-splitter.css">
    <link rel="stylesheet" href="libs/css/bootstrap-editable.css">
    <link rel="stylesheet" href="libs/development-bundle/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="libs/development-bundle/themes/base/minified/jquery-ui.min.css">
    <link rel="stylesheet" href="themes/a_default.theme/css/a_default.css">
</head>
<body>
    <noscript>This application requires javascript to be enabled.</noscript>

    <script type="text/javascript">
        ;(function() {
            if (!window.console) {
                window.console = {};
            }
            // all console methods
            var m = [
                "log", "info", "warn", "error", "debug", "trace", "dir", "group",
                "groupCollapsed", "groupEnd", "time", "timeEnd", "profile", "profileEnd",
                "dirxml", "assert", "count", "markTimeline", "timeStamp", "clear"
            ];
            // define undefined methods as noops to prevent errors
            for (var i = 0; i < m.length; i++) {
                if (!window.console[m[i]]) {
                    window.console[m[i]] = function() {};
                }
            }
        })();
    </script>
    <div id="mask" class="hide"></div>
    <div id="main" style="height:100%; width:100%">

        <div id="banner" class="navbar navbar-static-top">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="launchmenu-btn">
                        <a href="#" rel="tooltip" data-original-title="Launch Menu" data-html="true" data-placement="bottom">Launch Menu</a>
                    </li>
                    <li class="create-dashboard-btn">
                        <a href="#">Create Dashboard</a>
                    </li>
                    <li class="dashboards-btn">
                        <a href="#">Dashboards</a>
                    </li>
                    <li class="admin-btn">
                        <a href="#">Administration</a>
                    </li>
                </ul>
                <ul id="loggedin-username" class="nav pull-right">
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">John Doe<i class="icon-cog"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="user-profile-btn" tabindex="-1" href="#">Profile</a></li>
                            <li><a class="themes-btn" tabindex="-1" href="#">Themes</a></li>
                            <li><a class="about-btn" tabindex="-1" href="#">About</a></li>
                            <li class="divider"></li>
                            <li><a class="logout-btn" tabindex="-1" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div id="dashboard-container"></div>

    </div>

    <script src="libs/js/json2.js"></script>
    <script src="js/serverConfig.js"></script>
    <script data-main="js/main" src="libs/js/require.js"></script>
    <script type="text/template" id="dashboard-template">
        <h1><%- name %></h1>
        <%- layoutConfig %>
    </script>
</body>
</html>
